@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color:#2D4B1A;
    overflow-x: hidden;
}
.header {
     width: 100%;
     height: 25%;
}
.container {
    background-color: #2D4B1A;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    border-bottom: #663399 4px solid;
}
.divLogo {
    width: 40%;
    height: 10%;
    margin-top: 1%;
    padding-left: 5%;
    display: flex;
}
.logo1 {
    width: 20%;
    height: 30%;
    border-radius: 30%;
}
.nomeProjeto {
    width: fit-content;
    padding-left: 2%;
    color: white;
}
.header .container {
    justify-content: space-between;
}
.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    padding-right: 3%;
}

li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}
.btnTrilha {
    background-color: #2d4b1a00;
    font-family: 'poppins';
    font-weight: 600;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}

.banner {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100vh;

}
.textoImgHome {
    display: block;
}
.divTexto {
    width: 40%;
    height: 30%;
    padding-left: 3%;
}
.titulo1 {
    font-size: 50px;
    padding-top:3% ;
}
h3 {
    padding-left: 3%;
}
.divImagem {
    width: 60%;
    height: 40%;
    display: flex;
}
.img {
    width: 40vw;
    height: 40vh;
}
.divSongsHome {
    width: 40%;
}
.songsHome {
    width: 40%;
    padding-top: 3%;
    padding-left: 5%;
}



/*SOBRE MODA E SOBRE MÚSICA*/
.divPrincipalModa {
    background-color: #663399;
    margin-top: 1%;
}
.bannerModa {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem2 {
    width: 50%
}
.img2 {
    width:80% ;
    margin-left: 15%;
}

.divPrincipalMusica {
    background-color: #663399;
    margin-top: 1%;
}
.bannerMusica {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem3 {
    width: 50%
}
.img3 {
    width:80% ;
    padding-left: 15%;
}

footer {
    color: white;
    width: 100%;
    height:20%;
    margin-top: 1%;
    background-color: #2D4B1A;
    border-top: #663399 4px solid;
    display: flex;
}
.contato {
    width: 35%;
    height:20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoContato {
    font-size: 20px;
    margin-left: 5%;
}
.textoFooter {
    color: white;
    font-size: 15px;
    font-weight: 800;
    margin: 5%;
}
.icones {
    width: 5%;
    border-radius: 15%;
    padding-left: 2%;
}

.sobreMim {
    width: 60%;
    height: 20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoSobre {
    text-align: left;
}
.identidade {
    margin-top: 1%;
    width: 30%;
    height: 20%;
}
.logo2 {
    width: 40%;
    height: 30%;
    padding-left: 20%;
    border-radius: 30px;
}
/*Cadastro.html*/

.bannerCadastro {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2%;
}

.divCadastro {
    margin-left: 20%;
    margin-top: 0;
}

.img4 {
    width: 30%;
    height: 50%;
    padding-left: 10%;
}


/*fazer no HTML/JS as verificações de cadastro*/
.btnCadastro {
    font-size: 20px;
    color: white;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 15%;
    width: 25%;
    height: 30%;
}

/*login.html*/
.bannerLogin {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;

}
.divLogin {
    margin-left: 20%;
    margin-top: 0;
}
.imgForms {
    display: flex;
}
.divFormsLogin {
    width: 40%;
    height: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.inLogin {
    font-size: 15px;
    width: 50%;
    height:10%;
    border: #2D4B1A 2px solid;
    margin-top: 1%;
}
.btnLoginCadastro {
    font-size: 20px;
    color: white;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 15%;
    width: 20%;
    height: 10%;
}

.divLogin {
    width: 70%;
    height: 70%;
}
.textoCadastro {
    font-size: 20px;
}
.img5 {
    width: 40%;
    height: 80%;
}



/*INTERACOES.HTML*/
.bannerInteracoes {
    width: 100%;
    height: 100%;
}
.selConta {
    font-family: 'Poppins';
    text-decoration: none;
    border: none;
    background-color: #2d4b1a00;
    font-weight: 600;
    color: white;
    font-size: 18px;
}
.optConta {
    color:#2D4B1A;
    font-weight: 600;
}
.divOpcoes {
    display: flex;
    width: 30%;
    height: 40%;
    padding-left: 3%;
    display: flex;
    align-items: center;

}
.imgOpcoes {
    background-color: #663399;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    margin-left: 5%;
}
.divPosts {
    background-color: #663399;
    width: 65%;
    height: 70vh;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 5%;
    display: flex;
}
.tituloPosts {
    color: white;
    font-weight: 600;
    padding-left: 3%;
    width: fit-content;
    height: 5%;
}
.textoPosts {
    width: 100%;
    color: white;
    padding-left: 3%;
}
.textareaPost {
    width: 60%;
    height: 40vh;
    margin-left: 3%;
    font-size: 15px;
    padding:1%;
    border: #2D4B1A 4px solid;

}
.btnPublicar {
    width: 30%;
    height: 10%;
    margin-left: 10%;
    background-color: #2D4B1A;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: #663399 2px solid;
}
.imgPost {
   padding-left: 50%;
    width: 30vw;
    height: 50vh;
}
.bannerEnq {
    width: 100%;
    height: 100%;
}
.divEnq { 
    background-color: #663399;
    width: 65%;
    height: 70vh;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 5%;
    display: flex;
}
.tituloEnq {
    color: white;
    font-weight: 600;
    padding-left: 3%;
}
.enq1 {
    background-color:antiquewhite ;
    width: 70%;
    margin-left: 3%;
    display: flex;
}
.imgPerguntaEnq1 {
    flex-direction: column;
}
.imgEnq1 {
    width: 40%;
    height: 35vh;
    padding-top: 2%;
    padding-left: 3%;
    border-radius: 5%;
}
.perguntaEnq1 {
    width: 50%;
    height: 5%;
    font-size: 15px;
    padding-left: 1%;
    margin-top: 3%;
}
.opcoesEnq1 {
    margin-left: 5%;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
.songs {
    width: 40%;
    flex-direction: column;
    
}
.selEnq1 {
    margin-top: 30%;
    margin-right: 50%;
    width: 60%;
    height: 8%;
}
.capasEnq {
    width: 40%;

}
li {
    font-weight: 600;
}