@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color:lightgoldenrodyellow;
    overflow-x: hidden;
}
.header {
     width: 100%;
     height: 25%;
}
.container {
    background-color: #663399;
    width:100%;
    height:100%;
    display: flex;

}
.header .container {
    justify-content: space-between;
}
.nomeProjeto {
    width: fit-content;
    color: white;
    padding-left: 3%;
}
.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 20%;
    padding-right: 3%;
}

li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}

.banner {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    align-self: center;
}

.divTexto {
    width: 40%;
    height: 30%;
    margin-left: 2%;
    display: flex;
    align-items: center;
}
.divImagem {
    width: 50%;
    height: 30%;
    margin-left: 6%;
}
.img {
    width: 40%;
    height: 50%;
    margin-left: 5%;
}
.divPrincipalModa {
    background-color: #663399;
    margin-top: 5%;
}
.bannerModa {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem2 {
    width: 50%
}
.img2 {
    width:80% ;
}

.divPrincipalMusica {
    background-color: #663399;
    margin-top: 5%;
}
.bannerMusica {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem3 {
    width: 50%
}
.img3 {
    width:80% ;
}

footer {
    width: 100%;
    height:50%;
    margin-top: 5%;
    background-color: #663399;
    display: flex;
}
.contato {
    width: 40%;
    height: 30%;
    margin-top: 3%;
    margin-left: 3%;
}
.textoContato {
    font-size: 20px;
    margin-left: 5%;
}
.textoFooter {
    color: black;
    font-size: 15px;
    margin-left:40%;
}
.icones {
    width: 12%;
    border-radius: 15%;
    padding-left: 2%;
}

.sobreMim {
    width: 100%;
    height: 30%;
    margin-top: 3%;
    margin-left: 3%;
}
.textoSobre {
    text-align: left;
}

.divChamada {
    
    width: 50%;
    height: 70%;
    padding-left: 3%;
}
.divForms {
    width: 40%;
    height: 70%;
    margin-left: 5%;
    padding-top:5%;
    padding-right: 10%;
    padding-left: 5%;
    padding-bottom: 3%;

}
input {
    font-size: 15px;
    width: 50%;
    height:20%;
    border: #006400 2px solid;
    margin-top: 1%;
}
/*fazer no HTML/JS as verificações de cadastro*/
.btnCadastro {
    font-size: 15px;
    border: #663399 2px solid;
    background-color: #006400;
    margin-top: 2%;
    margin-left: 15%;
    width: 25%;
}
.img4 {
    width: 40%;
    height: 80%;
    padding-left: 15%;
}




/*login.html*/
.bannerLogin {
    color: white;
    background-color: #663399;
    width: 80%;
    
    margin:auto;
    margin-top: 5%;
    display: flex;

}
.divFormsLogin {
    width: 40%;
    height: 70%;
    padding-left: 5%;
    padding-top: 5%;
}
.divChamadaLogin {
    width: 45%;
    height: 70%;
}
.textoCadastro {
    font-size: 25px;
}
.img5 {
    width: 40%;
    height: 80%;
    padding-left: 20%;
}