@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color:#2D4B1A;
    overflow-x: hidden;
}
.header {
     width: 100%;
     height: 25%;
}
.container {
    background-color: #2D4B1A;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    border-bottom: #663399 4px solid;
}
.divLogo {
    width: 40%;
    height: 10%;
    margin-top: 1%;
    padding-left: 5%;
    display: flex;
}
.logo1 {
    width: 20%;
    height: 30%;
    border-radius: 30%;
}
.nomeProjeto {
    width: fit-content;
    padding-left: 2%;
    color: white;
}
.header .container {
    justify-content: space-between;
}
.navbar {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    padding-right: 3%;
}

li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}
.btnTrilha {
    background-color: #2d4b1a00;
    font-family: 'poppins';
    font-weight: 600;
    color: white;
    border: none;
    text-decoration: none;
    padding: 1%;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}

.banner {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100vh;

}

.divTexto {
    width: 40%;
    height: 30%;
    padding-left: 3%;
}
.titulo1 {
    font-size: 50px;
    padding-top:3% ;
}
h3 {
    padding-left: 3%;
}
.divImagem {
    width: 60%;
    height: 40%;
    display: flex;
}
.img {
    width: 40vw;
    height: 40vh;
}
.divPrincipalModa {
    background-color: #663399;
    margin-top: 1%;
}
.bannerModa {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem2 {
    width: 50%
}
.img2 {
    width:80% ;
    margin-left: 15%;
}

.divPrincipalMusica {
    background-color: #663399;
    margin-top: 1%;
}
.bannerMusica {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem3 {
    width: 50%
}
.img3 {
    width:80% ;
    padding-left: 15%;
}

footer {
    color: white;
    width: 100%;
    height:20%;
    margin-top: 1%;
    background-color: #2D4B1A;
    border-top: #663399 4px solid;
    display: flex;
}
.contato {
    width: 35%;
    height:20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoContato {
    font-size: 20px;
    margin-left: 5%;
}
.textoFooter {
    color: white;
    font-size: 15px;
    font-weight: 800;
    margin: 5%;
}
.icones {
    width: 5%;
    border-radius: 15%;
    padding-left: 2%;
}

.sobreMim {
    width: 60%;
    height: 20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoSobre {
    text-align: left;
}
.identidade {
    margin-top: 1%;
    width: 30%;
    height: 20%;
}
.logo2 {
    width: 40%;
    height: 30%;
    padding-left: 20%;
    border-radius: 30px;
}
/*Cadastro.html*/

.bannerCadastro {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2%;
}

.divCadastro {
    margin-left: 20%;
    margin-top: 0;
}

.img4 {
    width: 30%;
    height: 50%;
    padding-left: 10%;
}


/*fazer no HTML/JS as verificações de cadastro*/
.btnCadastro {
    font-size: 20px;
    color: white;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 15%;
    width: 25%;
    height: 30%;
}





/*login.html*/
.bannerLogin {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;

}
.divLogin {
    margin-left: 20%;
    margin-top: 0;
}
.imgForms {
    display: flex;
}
.divFormsLogin {
    width: 40%;
    height: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.inLogin {
    font-size: 15px;
    width: 50%;
    height:10%;
    border: #2D4B1A 2px solid;
    margin-top: 1%;
}
.btnLoginCadastro {
    font-size: 20px;
    color: white;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 15%;
    width: 20%;
    height: 10%;
}

.divLogin {
    width: 70%;
    height: 70%;
}
.textoCadastro {
    font-size: 20px;
}
.img5 {
    width: 40%;
    height: 80%;
}
