@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color:#2D4B1A;
    overflow-x: hidden;
    cursor: pointer;
}
.header {
     width: 100%;
     height: 25%;
}
.container {
    background-color: #2D4B1A;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    border-bottom: #663399 4px solid;
}
.divLogo {
    width: 40%;
    height: 10%;
    margin-top: 1%;
    padding-left: 5%;
    display: flex;
    cursor: pointer;
}
.logo1 {
    width: 20%;
    height: 30%;
    border-radius: 30%;
    transition: all;
    transition-duration: 1s;
}
.logo1:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.nomeProjeto {
    width: fit-content;
    padding-left: 2%;
    color: white;
}
.nomeProjeto:hover {
    transition:all 2s ease-in; 
    color: antiquewhite;
    font-size: 40px;
    font-weight: 800;
}
.header .container {
    justify-content: space-between;
}
.navbarHome {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 20%;
    padding-right: 3%;
}

li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    width: 100px;
    margin-right: 2%;
    font-size: 18px;
}
a {
    cursor: pointer;
}
a:hover {
    color: antiquewhite;
    text-decoration: underline;
}

.banner {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100vh;

}
.bannerPrincipal {
    width: 100%;
    height: 100vh;
    display: flex;
}
.textoImgHome {
    width: 50%;
}
.titulo1 {
    font-size: 50px;
    padding-left: 8%;
}
.titulo1:hover {
    color: antiquewhite;
    text-decoration: solid;
}
h3 {
    padding-left: 8%;
}
.divImagem {
    width: 50%;
    height: 40%;
    padding-left: 10%;
    display: flex;
}
.img {
    width: 40vw;
    height: 40vh;
    padding-right: 5%;
}
.divSongsHome {
    margin-top:10%;
    margin-left: 8%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    width: 25%;
    height: 35vh;
    border: #2D4B1A 3px solid;
}
.songsHome {
    width: 80%;
}



/*SOBRE MODA E SOBRE MÚSICA*/
.divPrincipalModa {
    background-color: #663399;
    margin-top: 1%;
}   
.bannerModa {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.tituloSobre {
    color: antiquewhite;
    text-decoration: underline;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem2 {
    width: 50%
}
.img2 {
    width:80% ;
    margin-left: 15%;
}

.divPrincipalMusica {
    background-color: #663399;
    margin-top: 1%;
}
.bannerMusica {
    width: 90%;
    height: 100%;
    color: white;
    margin-left: 3%;
    padding-top: 3%;
    display: flex;
}
.texto {
    text-align: left;
    width: 50%;
}
.divImagem3 {
    width: 50%
}
.img3 {
    width:80% ;
    padding-left: 15%;
}

footer {
    color: white;
    width: 100%;
    height:20%;
    margin-top: 1%;
    background-color: #2D4B1A;
    border-top: #663399 4px solid;
    display: flex;
}
.contato {
    width: 35%;
    height:20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoContato {
    font-size: 20px;
    margin-left: 5%;
}
.textoFooter {
    color: white;
    font-size: 15px;
    font-weight: 800;
    margin: 5%;
}

.icones {
    width: 5%;
    border-radius: 15%;
    padding-left: 2%;
}

.sobreMim {
    width: 60%;
    height: 20%;
    margin-top: 1%;
    margin-left: 3%;
}
.textoSobre {
    text-align: left;
}
.identidade {
    margin-top: 1%;
    width: 30%;
    height: 20%;
}
.logo2 {
    width: 40%;
    height: 30%;
    padding-left: 20%;
    border-radius: 30px;
    transition: all;
    transition-duration: 1s;
}
.logo2:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
/*Cadastro.html*/

.bannerCadastro {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2%;
}
#mensagem_erro {
    background-color: #2D4B1A;
    color:white;
    border: #663399 3px solid;
    margin-left: 3%;
    margin-top: 3%;
}
.divCadastro {
    margin-left: 20%;
    margin-top: 0;
}

.img4 {
    width: 30%;
    height: 50%;
    padding-left: 10%;
}


/*fazer no HTML/JS as verificações de cadastro*/
.btnCadastro {
    font-size: 20px;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 10%;
    width: fit-content;
    height: 30%;
    color: white;
}

/*login.html*/
.bannerLogin {
    color: white;
    background-color: #663399;
    width: 100%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;

}
.divLogin {
    margin-left: 20%;
    margin-top: 0;
}
.imgForms {
    display: flex;
}
.divFormsLogin {
    width: 40%;
    height: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.inLogin {
    font-size: 15px;
    width: 50%;
    height:10%;
    border: #2D4B1A 2px solid;
    margin-top: 1%;
}
.btnLoginCadastro {
    font-size: 20px;
    color: white;
    border: #663399 2px solid;
    background-color: #2D4B1A;
    margin-top: 2%;
    margin-left: 15%;
    width: 25%;
    height: 10%;
}

.divLogin {
    width: 70%;
    height: 70%;
}
.textoCadastro {
    font-size: 20px;
}
.img5 {
    width: 40%;
    height: 80%;
}



/*INTERACOES.HTML*/
.navbar2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 40%;
    padding-right: 3%;
}
li {
    cursor: pointer;
}
li:hover {
    color: antiquewhite;
    text-decoration: underline;
}
.bannerInteracoes {
    width: 100%;
    height: 100%;
}
.selConta {
    font-family: 'Poppins';
    text-decoration: none;
    border: none;
    background-color: #2d4b1a00;
    font-weight: 600;
    color: white;
    font-size: 18px;
}
.optConta {
    color:#2D4B1A;
    font-weight: 600;
}
.divOpcoes {
    width: 100%;
    height: 60%;
    padding-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.imgOpcoes {
    background-color: #663399;
    width: 300px;
    height: 300px;
    margin-left: 8%;
    margin-top: 5%;
    transition: all;
    transition-duration: 3s;
}
.imgOpcoes:hover {
    transform: scale(1.08);
}
.divPosts {
    background-color: #663399;
    width: 65%;
    height: 70vh;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 5%;
    display: flex;
}
.tituloPosts {
    color: white;
    font-weight: 600;
    padding-left: 3%;
    width: fit-content;
    height: 5%;
}
.textoPosts {
    width: 100%;
    color: white;
    padding-left: 3%;
}
.textareaPost {
    width: 60%;
    height: 40vh;
    margin-left: 3%;
    font-size: 15px;
    padding:1%;
    border: #2D4B1A 4px solid;
    resize: none;

}
.btnPublicar {
    width: 30%;
    height: 10%;
    margin-left: 10%;
    background-color: #2D4B1A;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: #663399 2px solid;
}
.divPostsAntigos {
    background-color: #663399;
    width: 100%;
    height: 70vh;
    margin-top: 13%;
    margin-bottom: 5%;
    display: flex;
}
.divResultado {
    
}

/*ENQUETES*/
.bannerEnq {
    width: 100%;
    height: 100%;
    display: flex;
}
#divEnqResultado { 
    width: 100vw;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    display: inline-block;    
}
.tituloEnq {
    color: white;
    font-weight: 600;
    padding-left: 15%;
    cursor: pointer;
}
.tituloEnq:hover {
    color:antiquewhite;
    text-decoration:underline;
}
.enq1 {
    display: flex;
    color: white;
    border: #663399 8px ridge;
    background-color: #663399;
    width: 65%;
    height: 70vh;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 5%;
}
.imgPerguntaEnq1 {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.imgEnq1 {
    height: 55vh;
    width: 65%;
    padding-top: 3%;
    padding-left: 14%;
}
.perguntaEnq1 {
    width: 100%;
    height: 5%;
    font-size: 19px;
    padding-left: 2%;
    margin-top: 2%;
}
.opcoesEnq1 {
    width: 50%;
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.songs {
    padding: 3%;
    width: 60%;
    flex-direction: column;
    
}
.musica1 {
    display: flex;
    flex-direction: column;
    border: #2D4B1A 4px;
}
.nomeMusica {
    padding-left: 5%;
    margin-top: 0;
    width: 40%;
    font-size: 15px;
    transition: all;
    transition-duration: 1s;
}
.nomeMusica:hover {
    transform: scale(1.05);
} 
.btnSelecionar {
    width: fit-content;
    height: 30%;
    margin-left: 3%;
    color: white;
    border: #2D4B1A 2px solid;
    border-radius: 30%;
    background-color: #2D4B1A;
    margin-top: 2%;
}
.btnSelecionar:hover {
    background-color: white;
    color: #663399;
    transition:all 1s ease-in 
}
.enq2 {
    display: flex;
    color: white;
    border:#663399 8px ridge;
    background-color: #663399;
    width: 65%;
    height: 70vh;
    margin-top: 1%;
    margin-left: 18%;
    margin-bottom: 5%;
}
.imgPerguntaEnq2 {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.imgEnq2 {
    height: 55vh;
    width: 65%;
    padding-top: 3%;
    padding-left: 14%;
}
.perguntaEnq2 {
    width: 100%;
    height: 5%;
    font-size: 19px;
    padding-left: 2%;
    margin-top: 2%;
}
.opcoesEnq2 {
    width: 50%;
    margin-top: 1%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.songs2 {
    padding: 3%;
    width: 60%;
    flex-direction: column;
    
}
.musica2 {
    display: flex;
    flex-direction: column;
    border: #2D4B1A 4px;
}
.nomeMusica2 {
    padding-left: 5%;
    margin-top: 0;
    width: 50%;
    font-size: 15px;
    transition: all;
    transition-duration: 1s;
}
.nomeMusica2:hover {
    transform: scale(1.05);
}
.btnSelecionar {
    width: fit-content;
    height: 30%;
    margin-left: 3%;
    color: white;
    border: #2D4B1A 2px solid;
    border-radius: 30%;
    background-color: #2D4B1A;
    margin-top: 1%;
}
.btnSelecionar:hover {
    background-color: white;
    color: #663399;
    transition:all 1s ease-in 
}

li {
    font-weight: 600;
}

.divEnq2 {
    width: 100vw;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    display: inline-block; 
}

/*resultados*/
.tituloResults {
    color: white;
    font-weight: 600;
    padding-left: 15%;
    width: fit-content;
    height: 5%;
}
.tituloResults:hover {
    color:antiquewhite;
    text-decoration:underline;
}
.textoResults {
        width: 70%;
        color: white;
        padding-left: 15%;
        font-size: 20px;
}
    
/*gráficos*/
    .divGraficos {
        width: 70%;
        height: 50vh;
        margin-left: 15%;
        background-color: #663399;
        display: flex;
    }
    .grafico1 {
        height:30vh; 
        width:20vw;
        background-color: antiquewhite;
        margin: 2%;
        padding-top: 5%;
        display: flex;
        flex-direction: row;
    }
    .divGraficos2 {
        width: 70%;
        height: 50vh;
        margin-top: 1%;
        margin-left: 15%;
        background-color: #663399;
        display: flex;
    }

    .grafico2 {
        height:30vh; 
        width:20vw;
        background-color: antiquewhite;
        margin-left: 10%;
        margin-top: 3%;
        padding-top: 5%;
        display: flex;
    }